* {
	font-family: 'PT Sans Narrow', sans-serif;
}

.backdrop {
	margin: 20px;
}

nav {
	margin-right: 20px;
	display: flex;
	justify-content: flex-end;
}

button.all-movies {
	position: absolute;
	top: 67px;
	right: 15px;
	text-decoration: underline;
	background: none;
	font-size: 20px;
	border: none;
}

button.all-movies {
	/* outline: none; */
	
}

.up-first {
	display: flex;
	flex-direction: row;
	background: #d3d3d342;
	width: 490px;
	margin: 20px;
	padding: 10px;
	justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .up-first {
		width: 90vw;
	}
	
	.poster {
		display: none;
	}

	.poster-aside {
		padding-left: 0;
	}
}

.poster-aside {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 10px;
}

.movie-title {
	font-size: 40px;
	text-align: center;
	border-bottom: 1px solid;
	padding-bottom: 5px;
	margin: 10px;
}

.user-rating-title {
	font-size: 20px;
}

.rating {
	font-size: 25px;
	margin-bottom: 0px;
}

.overview-box {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	padding: 10px;
	max-width: 490px;
	margin: 20px;
}

.overview-title {
	margin: 10px 5px;
	font-size: 20px;
}

.overview-text {
	margin: 0 5px;
	text-align: left;
}

section.movie-details-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
}

.center-panel {
	flex-grow: 2;
}

.side-panel {
	background: lightgray;
	flex-grow: 1;
}

.banner-container {
  display: flex;
  position: relative;
  height: 400px;
  width: 100%;
}

.banner-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.rating-emoji {
	margin: 0px;
	font-size: xxx-large;
}