.App {
  text-align: center;
}

button:hover {
  cursor: pointer;
  color: darkgreen;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 10px 40px;
  font-family: 'Knewave', cursive;
  font-size: 60px;
  letter-spacing: 3px;
  text-shadow: 2px 3px #a5a5a5;
}

nav {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

button.all-movies {
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
}

/* button.all-movies:hover {
  cursor: pointer;
  color: darkgreen;
} */

@media only screen and (max-width: 600px) {
  h1 {
    margin-left: 10px; 
    text-align: left;
  }

  nav {
    margin-right: 10px;
  }
  
}

button.back {
  padding: 10px;
  border: 2px solid rgb(63, 63, 63);
  border-radius: 5px;
}
/* 
button.back {

} */